.slider-image img{
    width: 100%;
}
#header{
    position:absolute;
    left:0;
    right:0;
}
#navbar {
    float: right;
}
#navbar ul{
    list-style:none;
    display:inline;
    margin:0;
    padding:0;
    margin-right: 29%;
}
#navbar ul li{
    display: inline;
    padding-right: 20px;
}
#navbar ul li:hover a{
    color: #FFF;
}
#list-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: sans-serif;
}
#list-nav li:last-child a {
    border: 1px solid #323232;
    padding: 7px 13px;
    border-radius: 20px;
}
#list-nav li:last-child:hover a {
    border:1px solid transparent;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.brand h1{
    display: block;
    font-size: 25px;
    padding-top: 30px;
    margin-left: 10%;
    font-family: sans-serif;
    font-weight: 700;
}
.brand h1 span{
    font-weight: 100;
}
.slider-text {
    position: absolute;
    left: 50%;
    width: 50%;
    top: 30%;
    text-align: center;
    margin-left: -25%;
}
.slider-text h2{
    font-size: 35px;
    font-weight: 700;
}
.slider-text p{
    padding-top: 20px;
    padding-bottom: 65px;
}
.slider-text a {
    /* display: block; */
    /* border: 1px solid transparent; */
    padding: 10px 30px;
    border-radius: 34px;
    background: -webkit-linear-gradient(left, #49007c, #b30084);
    color: #fff;
    text-decoration: none;
}
.slider-extra{
    position: absolute;
    left: 50%;
    width: 50%;
    top: 95%;
    text-align: center;
    margin-left: -25%;
    color: #FFFFFF;
    font-size:10px;
}
.slider-extra i{
    display: block;
    font-size:20px;
    padding-bottom:10px ;
}
.code-design-section .services img{
    width: 100%;
    position: relative;
}
.services{
    position: relative;
}
.services-text{
    position: absolute;
    /*top: 50;*/
    bottom: 120px;
    left: 100px;
    right: 0;
    width: 60%;
    color: #FFFFFF;
}
.services-text a{
    padding: 10px 30px;
    border-radius: 34px;
    background: -webkit-linear-gradient(left, #49007c, #b30084);
    color: #fff;
    text-decoration: none;
    margin-top: 35px;
}
.services-text h3 {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight:100;
}
.services-text span{
    font-weight:600;
}
.services-text p{
    line-height: normal;
}
.icon-description {
    position: relative;
}
.icon-description .text {
    position: absolute;
    left: 150px;
    top: 40px;
    line-height: normal;
}
.icon-description .text span{
    font-weight: 600;
    font-size: 20px;
    color:#b30084;
}
.icon-description .text p {
    margin-top: 12px;
}
.info-text h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 45px;
}
.button-extra a {
    padding: 10px 30px;
    border-radius: 34px;
    background: -webkit-linear-gradient(left, #49007c, #b30084);
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-extra {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.button-portofolio a{
    padding: 10px 30px;
    border-radius: 34px;
    background: -webkit-linear-gradient(left, #49007c, #b30084);
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}
.button-portofolio {
    margin: 0 auto;
    text-align: center;
}
.portofolio-example{
    position: relative;
    -webkit-filter:contrast(100%);
}
.portofolio-example img{
    width: 100%;
    /*-webkit-filter: grayscale(100%);*/
    /*z-index:100;*/
}
/*.portofolio-example img:hover {*/
    /*!*background: rgba(0,0,0,0.7);*!*/
    /*!*background-size: cover;*!*/
    /*!*-webkit-filter: brightness(20%);*!*/
    /*display: block;*/
    /*z-index: 200;*/
    /*!*visibility: hidden;*!*/
}
.portofolio-example:hover {
    background: rgba(0,0,0,0.7)
}
.portofolio-description {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    display: none;
}
.portofolio-description h4{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
.portofolio-description p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
    font-weight: 100;
}
.portofolio-example:hover .portofolio-description{
    display: block;
    z-index: 200;
}
.image-section img {
    width: 100%;
    position: relative;
    display:block;
}
.about-us {
    position: relative;
}
.about-us .text-section {
    position: absolute;
    top: 50px;
    color: #FFFFFF;
}
.text-section h3{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 45px;
    line-height: normal;
}
.text-section h4{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 45px;
}
.map h4{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 45px;
}